.login-container {
    background-color: #cce5f6; /* soft blue background */
  }
  
  .login-box {
    max-width: 900px;
    width: 100%;
    background-color: white;
  }
  
  .left-section {
    background: linear-gradient(135deg, #e0f7fa, #bbdefb);
  }

 
  